<div class="container">
  
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          --Select Action--
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" routerLink="/dashboard" type="button">Master List</button>
          <button class="dropdown-item" routerLink="/registration" type="button">Create</button>
        </div>
      </div>
  <br/>
  <router-outlet></router-outlet>
</div>

